@import "parts/archive";
@import "parts/article";
@import "parts/comment";
@import "parts/footer";
@import "parts/header";
@import "parts/index";
@import "parts/post";
@import "parts/sidebar";
@import "parts/syntax";
@import "parts/twitter";
